img {
  width: 300px;
  margin: auto;
  display: flex;
}

#buttons {
  display: flex;
  justify-content: center;
  padding: 20px, 20px, 20px, 20px;
}

h1 {
  text-align: center;
}
#tinder {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#likeHeart {
  position: absolute;
  width: 50px;
  display: none;
  /* move heart back into top corner of liked image (changed when img display set to flex) */
}

#chosenPaintings {
  display: flex;
  justify-content: center;
  padding: 20px, 20px, 20px, 20px;
}

#givenPaintings {
  display: flex; 
  justify-content: center;
  padding: 20px, 20px, 20px, 20px;
}

#collage {
  justify-content: center;
}


#tip {
  display:inline; 
  justify-content:right;
  padding: 20px, 20px, 20px, 20px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}